@keyframes child-slide-down {
    0% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes child-slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-70px);
    }
}

.tab-container {
    @apply relative;
    @apply list-none;
    @apply flex;
    @apply flex-col;
    @apply gap-2;
    @apply w-full;

    @apply z-30;

    & > div {
        @apply flex-col;
        @apply list-none;
        @apply w-full;
        @apply gap-2;
    }

    & > div > div {
        @apply flex;
        @apply flex-col;
        @apply list-none;
        @apply w-full;
    }

    & div > div > ul {
        @apply list-none;
        @apply flex-col;
        @apply w-full;
    }
}

.tab-link {
    @apply p-6;
    @apply w-full;
    @apply text-center;

    @apply hover:font-bold;
    @apply hover:text-white;

    @apply bg-cyan-950;
    @apply z-20;
}

.tab-link-child {
    @apply p-6;
    @apply w-full;
    @apply text-center;

    @apply hover:font-bold;
    @apply hover:text-white;

    @apply bg-cyan-950;

    @apply sm:block;

    @apply z-10;


}

.tab-active, .tab-active-child {
    @apply text-white;
    @apply font-bold;
    @apply bg-cyan-900;
}

.tab-menu-with-data {
    @apply flex;
    @apply flex-wrap;
    /*@apply sm:flex-nowrap;*/
    @apply gap-4;
    @apply justify-center;
}

.tab-menu-with-data > div {
    @apply w-full;
    @apply sm:w-auto;
}

.tab-menu-with-data > div:first-child {
    @apply flex;
    @apply justify-center;
}

.tab-menu-with-data > div:last-child {
    @apply grow;
    @apply w-96;
    @apply flex;
    @apply flex-col;
    @apply gap-4;
}