.article-row {
    @apply w-full;

    @apply bg-gradient-to-b;
    @apply from-deaconn-data;
    @apply to-deaconn-data2;
    
    @apply rounded;

    @apply flex;
    @apply flex-col;

    @apply ring-4;
    @apply ring-deaconn-ring;
    @apply hover:ring-deaconn-ring2;
    @apply hover:duration-150;

    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    & .grid-view-image img {
        @apply filter;
        @apply brightness-[85%];
        @apply rounded-t;
    }

    &:hover {
        transform: translateY(-5px);
    }
    
    &:hover .grid-view-image img {
        @apply brightness-100;
    }
}

.article-row > div:not(:first-child) {
    @apply px-2;
}

/* Title */
.article-row-title > h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-center;
    @apply not-italic;
}

.article-row-title > h3 > a {
    @apply text-white;
    @apply hover:text-blue-200;
}

/* Description */
.article-row-description {
    @apply p-6;
    @apply grow;
}

.article-row-description > p {
    @apply text-sm;
}

/* Stats */
.article-row-stats {
    @apply pb-6;
    @apply flex;
    @apply flex-wrap;
    @apply justify-between;
    @apply text-white;
    @apply text-sm;
}

.article-row-stats-stat {
    @apply flex;
    @apply flex-wrap;
    @apply items-center;
}

.article-row-stats-stat > span:last-child {
    @apply ml-1;
}

/* Read More */
.article-row-read-more {
    @apply p-6;
    @apply flex;
    @apply flex-wrap;
    @apply gap-2;
    @apply justify-center;
}

.article-row-read-more > a {
    @apply w-full;
}

/* Actions */
.article-row-actions {
    @apply p-6;
    
    @apply flex;
    @apply flex-wrap;
    @apply gap-2;
    @apply justify-center;
}

.article-row-actions > a {
    @apply w-full;
}