@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes menu-left-to-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menu-right-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

/* Base Layer (Imports Do Not Work In Base Layer) */
@layer base {
    p {
        @apply leading-5;
    }

    a {
        @apply text-gray-50;
    }

    a:hover {
        @apply text-blue-300;
    }

    h1, h2, h3, h4, h5 {
        @apply font-bold;
        @apply italic;
        @apply text-white;
        @apply leading-10;
    }
    
    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-3xl;
    }
    
    h3 {
        @apply text-2xl;
    }
    
    h4 {
        @apply text-xl;
    }
    
    h5 {
        @apply text-lg;
    }

    hr {
        @apply border-t-2;
        @apply border-cyan-900;
    }

    form {
        & label {
            @apply block text-lg font-bold text-white;
        }

        & input:not([type="checkbox"]), select {
            @apply p-4 bg-cyan-900 ring-cyan-800 rounded w-full;
        }
    }

    ::-webkit-scrollbar {
        @apply rounded;
        @apply w-2;
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-gray-800;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-cyan-800;
        
        @apply rounded-lg;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-cyan-600;
    }
}

/* Components */
@layer components {
    @import "components/forms/main.css";

    @import "components/content.css";
    @import "components/grid.css";
    @import "components/markdown.css";
}

@layer utilities {
    @import "utils/buttons.css";
    @import "utils/icons.css";
    @import "utils/tabs.css";
}